/* * {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
} */
body {
  margin-bottom: 500px;
  padding: 50px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 30px;
}
.container {
  display: grid;
  height: 90vh;
  color: azure;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: 0.2fr 0.8fr 0.2fr;
  grid-gap: 15px;
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
}

.header {
  background-color: rgb(252, 4, 57);
  grid-area: header;
}
.main-body {
  /* background-color: rgb(123, 231, 60); */
  grid-area: main;
}
.side-bar {
  background-color: rgb(63, 204, 204);
  grid-area: sidebar;
}
.footer {
  background-color: rgb(90, 97, 97);
  grid-area: footer;
}

.main {
  display: grid;
  grid-template-columns: 0.7fr repeat(3, 1fr);
  column-gap: 15px;
}

.section1 {
  background-color: brown;
}
.section2 {
  background-color: rgb(241, 187, 86);
}
.section3 {
  background-color: rgb(86, 199, 161);
}
.section4 {
  background-color: rgb(196, 71, 212);
}

/* for laptop screen resolutions */

@media only screen and (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.4fr 0.8fr 0.2fr;
    grid-template-areas:
      "header"
      "side-bar"
      "main-body"
      "footer";
  }
  .header {
    grid-area: header;
  }
  .main-body {
    grid-area: main-body;
  }
  .side-bar {
    grid-area: side-bar;
  }
  .footer {
    grid-area: footer;
  }
}

/* for laptop screen resolutions */

/* fot tablet resolution */

@media only screen and (min-width: 567px) and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-rows: 0.2fr 0.4fr 1.4fr 0.2fr;
  }
  .main {
    display: grid;
    row-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.6fr;
    grid-template-areas:
      "section1 section1"
      "section2 section2"
      "section3 section4";
  }
  .section1 {
    grid-area: section1;
  }
  .section2 {
    grid-area: section2;
  }
  .section3 {
    grid-area: section3;
  }
  .section4 {
    grid-area: section4;
  }
}

/* fot tablet resolution */

/* for mobile reesolution */

@media only screen and (max-width: 567px) {
  .container {
    display: grid;
    grid-template-rows: 0.2fr 0.4fr 1.6fr 0.2fr;
  }

  .main {
    display: grid;
    row-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr;
    grid-template-areas:
      "section1"
      "section2"
      "section3"
      "section4";
  }
  .section1 {
    grid-area: section1;
  }
  .section2 {
    grid-area: section2;
  }
  .section3 {
    grid-area: section3;
  }
  .section4 {
    grid-area: section4;
  }
}

/* for mobile reesolution */
